.idea
*.iml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
runtime_logs
/src/main/resources/rebel.xml
/src/main/resources/rebel-remote.xml
/src/test/java/rebel.xml
/src/test/java/rebel-remote.xml
